*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

input:focus {
    outline: none;
}

.negrito {
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.entry-screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    position: fixed;
    background:#FFFFFF;
    top: 0px;
    left: 0px;
}

.entry-screen img{
    width: 130px;
    height: 92px;
    margin-top: 72px;
    margin-bottom: 94px;
}

.entry-screen input{
    width: 261px;
    height: 54px;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;  
}

.entry-screen input ::placeholder { 
    color: #AEAEAE;
    opacity: 1;
  }
  
.entry-screen input :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aeaeae;
  }
  
.entry-screen input ::-ms-input-placeholder { /* Microsoft Edge */
    color: #aeaeae;
  }

.entry-screen button {
    width: 109px;
    height: 45px;
    font-size: 18px;
    text-align: center;
    background: #E7E7E7;
    border-radius: 9px;
    border-color: #e7e7e7;  
    color: #696969;
}

.top-box{
    width: 100vw;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 0 17px 0 22px;
}

.top-box img{
    width: 75px;
    height: 53px;
}

.top-box ion-icon{
    width: 42px;
    height: 31px;
}


.hub-button{
    background: none;
    border: none;
}

.chat{
    width: 100vw;
    height: 100vh;
    padding-top: 106px;
    padding-bottom: 80px;
    background: #e5e5e5;
    flex-shrink: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.chat li{
    width: 100vw;
    height: auto;
    padding: 10px 8px 10px 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 2px;
    margin-top: 4px;
    font-size: 14px;
    flex-wrap: wrap;
    line-height: 20px;
}

.regular-message{
    background: #FFFFFF;
}

.private-message{
    background: #FFDEDE;
}

.status-message{
    background: #DCDCDC;
}

.time{
    color: #AAAAAA;
    margin-right: 10px;
}

.message-box{
    width: 100vw;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 0 18px 0 18px;
}

.message-box input{
    width: calc(100vw - 52px);
    font-size: 18px;
    height: 80px;
    border: none;
}

.message-box input ::placeholder {
    color: black;
    opacity: 1;
    font-style: italic;
}

.message-box input :-ms-input-placeholder{
    color: black;
    opacity: 1;
    font-style: italic;
}

.message-box input ::-ms-input-placeholder{
    color: black;
    font-style: italic;
}

.message-box ion-icon {
    width: 26px;
    height: 26px;
}

.send-message{
    background: none;
    border: none;
}